@import "bootstrap";

body {
  overflow-y: scroll;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success,
.btn-primary {
  .text-muted {
    color: #fff !important;
  }
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &>div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  &>div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-white {
  color: white;
}

.background-hat {
  background-color: #feed86;
}

.font-15 {
  font-size: 15px,
}

.font-20 {
  font-size: 20px,
}

.font-25 {
  font-size: 25px,
}

.font-30 {
  font-size: 30px,
}

.height-0 {
  height: 0px,
}

.width-50 {
  width: 50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 3px solid #89470a;
  text-align: left;
  padding: 8px;
}

.table-title {
  color: #f5ad00;
  background: black;
  text-align: end;
  width: 40%;
}

.table2 {
  width: 60%;
}

.table-title2 {
  color: #f5ad00;
  background: black;
  text-align: end;
  width: 25%;
}


.element-tokenomics-desc-l {
  width: 280px;
  display: flex;
  justify-content: center;
}

.element-tokenomics-desc-r {
  width: 280px;
  display: flex;
  justify-content: flex-end;
}

.element-tokenomics-l {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 370px 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: black;
  padding-right: 50px;
  height: 120px;
}

.element-tokenomics-r {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 370px 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: black;
  padding-left: 50px;
  height: 120px;
}

.bg-black {
  background: black;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.auctions-description-container {
  display: flex;
  justify-content: center;
}

.auctions-description {
  width: 70%;
  text-align: justify !important;
}

.section1 {
  background-image: url("../public/assets/back-title.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  color: black;
}

.section2 {
  background-image: url("../public/assets/logo-hat.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 280px;
}

.section3-container {
  height: 0;
}

.section3-text {
  font-size: 30px;
}

.hat-title {
  margin-left: 10px;
  font-size: 25px;
}

.utility-section {
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: 55px;
  color: black;
}

.utility-body {
  background-image: url("../public/assets/back-subtitle.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.utility-text {
  font-size: 13px;
}

.specification-section {
  background-image: url("../public/assets/back-text2.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: black;
}

.max-supply-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: black;
  margin-top: 20px;
  font-size: 55px;
}

.max-supply-text {
  background-image: url("../public/assets/back-subtitle2.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
}

.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tokenomics-title {
  background-image: url("../public/assets/back-text2.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: black;
}

.tokenomics-element {
  margin-bottom: 20px;
}

.auctions-container {
  background-image: url("../public/assets/back-text2.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: black;
}

.login-button {
  background-color: #89470A !important;
  color: white !important;
}

.footerLink{
  color: white !important;
  margin-right: 35px;

  &:hover {
    text-decoration: none !important;
  }
}


.footerOWA{
  color: white !important;
  text-decoration: underline !important;
}

.learnText{
  text-decoration: underline !important;
  cursor: pointer;
}

.partners-section {
  background-image: url("../public/assets/back-text2.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: black;
  background-size: 63% 100%;
}

.partnets-logos {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}


@media only screen and (max-width: 700px) {

  .col-6,
  .col-5 {
    width: 100%;
  }

  .hat-title {
    font-size: 15px;
  }

  .section1 {
    background-size: 100%;
    height: 150px;
  }

  .section1-text {
    font-size: 35px;
  }

  .background-hat {
    padding: 15px;
  }

  .section2 {
    background-size: 70%;
    background-position: center;
    height: 180px;
  }

  .section3-container {
    height: auto;
  }

  .section3-text {
    font-size: 15px;
  }

  .utility-section-img {
    height: 120px;
  }

  .utility-section {
    font-size: 35px;
  }

  .utility-body {
    font-size: 35px;
  }

  .utility-body {
    background-size: 100%;
  }

  .utility-text {
    font-size: 9px;
  }

  .specification-section {
    font-size: 25px;
  }

  .specification-text {
    font-size: 9px;
  }

  .specification-img {
    width: 90px;
  }

  .max-supply-container-img {
    display: flex;
    justify-content: center;
  }

  .max-supply-img {
    width: 250px;
  }

  .max-supply-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: black;
    margin-top: 20px;
    font-size: 20px;
  }

  .max-supply-text {
    background-size: 100%;
    font-size: 20px;
    height: 100px;
  }

  .tokenomics-title {
    font-size: 25px;
    background-size: 100%;
  }

  .tokenomics-element {
    margin-bottom: 20px;
  }

  .auctions-container {
    background-size: 100%;
    font-size: 20px;
  }

  .partners-section {
    font-size: 25px;
    background-size: 100% 100%;
  }

  .auctions-description {
    width: 100%;
  }

  .user-section {
    margin: 0 !important;
  }

  .table2 {
    width: 100%;
  }

  .footerLinkColElement{
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: end;
    margin-top: 5px;
  }

  .footerLinkCol4{
    width: 45%;
  }


  .footerLinkCol8{
    width: 55%;
  }

  .winnersSection{
    margin-bottom: 0px !important;
  }

  .bidNowSection{
    height: 70% !important;
  }

  .bidNowSectionImg{
    height: 30px !important;
    transform: rotate(90deg);
  }
}